:root {
  --maincollor: #000;
  --whitecollor: white;
  --secondarycollor: #317f81;
  --mainfont: "Montserrat", sans-serif;
  --secondaryfont: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.flex-center {
  display: flex;
  justify-content: center;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: var(--mainfont);
}
header.flex-center {
  width: 100%;
  height: 109px;
  background-color: var(--whitecollor);
  position: fixed;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
header.flex-center nav input {
  display: none;
}
header.flex-center nav label.burger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  display: none;
}
header.flex-center nav label.burger div.black {
  width: 100%;
  height: 5px;
  background-color: var(--maincollor);
  border-radius: 20px;
}
header.flex-center nav label.burger div.white {
  width: 100%;
  height: 5px;
  background-color: transparent;
  border-radius: 20px;
}
header.flex-center section a {
  text-decoration: none;
  color: var(--maincollor);
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 4px;
}
header.flex-center section p {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 300;
  font-family: var(--secondaryfont);
}
header.flex-center nav ul {
  list-style: none;
  column-gap: 30px;
  align-items: center;
}
header.flex-center nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  color: var(--maincollor);
}
header.flex-center nav ul li a:hover {
  color: var(--secondarycollor);
  transition: 0.5s;
}
header.flex-center nav ul button {
  width: 105px;
  height: 35px;
  background-color: var(--whitecollor);
  border: 0px solid var(--whitecollor);
}
header.flex-center nav ul button i {
  font-size: 20px;
  color: var(--secondarycollor);
}
header.flex-center nav ul button a {
  text-decoration: none;
  color: var(--secondarycollor);
  font-size: 15px;
  padding-left: 8px;
}
header.flex-center nav ul button a:hover {
  color: var(--secondarycollor);
  transform: 0.5s;
}
main section.banner {
  width: 100%;
  height: 900px;
  background-image: url(./photos/mountins.webp);
  object-fit: cover;
}
main section.chat {
  width: 200px;
  height: 55px;
  background-color: var(--maincollor);
  position: fixed;
  bottom: 0;
  right: 20px;
  gap: 10px;
  align-items: center;
  z-index: 99;
}
main section.chat i {
  font-size: 30px;
  color: var(--whitecollor);
}
main section.chat p {
  font-size: 15px;
  color: var(--whitecollor);
  font-weight: 500;
}
main section.banner div.gohome {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--maincollor);
  position: fixed;
  bottom: 100px;
  right: 20px;
  align-items: center;
  display: none;
  z-index: 95;
}
main section.banner div.gohome a {
  text-decoration: none;
  color: var(--whitecollor);
}
main section.banner div.line {
  width: 50px;
  border-bottom: 2px solid var(--maincollor);
  margin-left: 150px;
  padding-top: 170px;
}
main section.banner h1 {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-left: 150px;
}
main section.banner aside.nav {
  width: 100%;
  height: 170px;
  text-align: center;
  align-items: flex-end;
}
main section.banner aside.nav a {
  width: 170px;
  height: 50px;
  text-decoration: none;
  color: var(--maincollor);
  border-bottom: 1px solid var(--secondarycollor);
}
main section.banner aside.nav a.first:hover {
  border-bottom: 4px solid var(--secondarycollor);
  transition: 0.5s;
}
main section.banner aside.nav a.second:hover {
  border-bottom: 4px solid var(--secondarycollor);
  transition: 0.5s;
}
main section.banner section.boxes {
  width: 100%;
  height: 350px;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  text-align: center;
}
main section.banner section.boxes div {
  width: 280px;
  height: 300px;
  background-color: var(--whitecollor);
}
main section.banner section.boxes div h2 {
  font-size: 22px;
  font-weight: 300;
}
main section.banner section.boxes div p {
  font-size: 16px;
  font-weight: 200;
  margin: 0px;
}
main section.banner section.boxes div section.button {
  width: 100%;
}

main section.banner section.boxes div section.button a {
  width: 100px;
  height: 40px;
  text-decoration: none;
  background-color: var(--maincollor);
  color: var(--whitecollor);
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.banner section.boxes div section.button a:hover {
  background-color: #242424;
  transition: 0.5s;
}
footer {
  width: 100%;
  height: 650px;
  background-color: var(--secondarycollor);
}
footer section.infoside {
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
}
footer section.infoside div.pirveli {
  margin: 0px;
}
footer section.infoside div.pirveli div.thirdline {
  width: 50px;
  border-bottom: 2px solid var(--maincollor);
  margin-left: 150px;
  padding-top: 50px;
}
footer section.infoside div.pirveli h1 {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-left: 150px;
}
footer section.infoside div {
  margin-left: 150px;
}
footer section.infoside div p,
a {
  font-size: 15px;
  font-weight: 300;
}
footer section.infoside div.ic {
  justify-content: flex-start;
  gap: 30px;
}

footer section.inputside {
  width: 50%;
  height: 100%;
  padding-top: 50px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
footer section.inputside div.flex-center {
  flex-direction: column;
}
footer section.inputside div.flex-center textarea {
  width: 440px;
  height: 130px;
  border: 2px solid var(--maincollor);
  background-color: transparent;
  resize: none;
}
footer section.inputside span {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 15px;
}
footer section.inputside input {
  width: 440px;
  height: 35px;
  border: 2px solid var(--maincollor);
  background-color: transparent;
}
footer section.inputside aside.morebutton {
  width: 440px;
  height: 30px;
  justify-content: flex-end;
}
footer section.inputside aside.morebutton a {
  width: 140px;
  height: 35px;
  background-color: var(--maincollor);
  color: var(--whitecollor);
  align-items: center;
  text-decoration: none;
}
footer section.inputside aside.morebutton a:hover {
  background-color: var(--whitecollor);
  color: var(--maincollor);
  transition: 0.5s;
}
